<% flash[:notice] %>
<div class="contextual">
  <% #link_to 'Back', job_applications_url, :class => 'icon icon-history' 
%>
</div>
<h2><%=h @apptracker.title %>: Job Application Materials </h2> 

<%= render :partial => "shared/tabs" %>

<%= render :partial => "job_application_material_tables" %>

<br /><br />