<p>
  	<div id="state_select">
	  State or Territory<br />
	  <% if !@applicant.nil? && !@applicant.state.nil? %>
	    <%= select :applicant, :state, states %>
	  <% elsif @states.nil? %>
	    <%= text_field :applicant, :state %>
	  <% else %>
	    <%= select :applicant, :state, @states %>
	  <% end %>
	</div>
</p>