<% flash[:notice] %>
<h2><%=h @apptracker.title %>: <em>New Applicant</em></h2>

<%= render :partial => "shared/tabs" %>
<%= render :partial => "form" %>

<br />
<%= link_to 'Back', applicants_url(:apptracker_id => @apptracker.id) %>
