<% flash[:notice] %>
<h2><%=h session[:apptracker_title] %>: Jobs</h2>

<%= render :partial => "shared/tabs" %>

<%= render :partial => "job_tables" %>

<br /><br />

<% if (User.current.admin?) %>
  <%= link_to('New Job', new_job_url) %>
<% end %>
