<h2><%=h @apptracker.title %>: <em>New Job</em></h2>

<% if @job.id.nil? %>
  <%= render :partial => "form_01" %>
  <%= link_to 'Back', jobs_url(:apptracker_id => @apptracker.id) %>
<% else %>
  <%= render :partial => "form_02" %>
<% end %>

<br />
