<h2><%=h @apptracker.title %>: <em>New Job</em></h2>
  <%= render :partial => "shared/tabs" %>
  <%= render :partial => "form_new" %>
  <%= link_to 'Back', jobs_url(:apptracker_id => @apptracker.id) %>


<br />
