<% flash[:notice] %>

<h2>Application Trackers</h2>

<%= render(:partial => "apptracker_tables") %>

<br /><br />

<% if(User.current.admin?) %>
  <%= link_to('New AppTracker', new_apptracker_url)%>
<% end %>
