<%= flash[:notice] %>
<div class="contextual">
  <% #link_to 'Back', job_applications_url, :class => 'icon icon-history' 
%>
</div>
<h2>Submitted Applications </h2> 

<%= render :partial => "shared/tabs" %>

<% if User.current.admin? %>
  <%= render :partial => "job_application_tables", :locals => { :box => true } %>
<% else %>
  <%= render :partial => "job_application_tables" %>
<% end %>

<br /><br />

