<h2>JobAttachments#new</h2>

<% form_tag({:controller => 'job_application_materials', :action => 'new', :job => @job, :apptracker => @apptracker}, :class => "tabular", :multipart => true) do %>
<div class="box">
	<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form' %></p>
</div>
<%= submit_tag l(:button_add) %>
<% end %> 
