<table class="list" style="width:65%">
<thead>
  <tr>
    <th style="width:30%; text-align:left;">Title</th>
    <th style="width:15%; text-align:left;">Category</th>
    <th style="width:55%; text-align:left;">Description</th>
  </tr>
</thead>
<tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td style="width:30%"><%= link_to "#{job.title}", job_url(job.id) %></a></td>
      <td style="width:15%"><%=h job.category %></a></td>
      <td style="width:55%"><%=h job.description %></td>
    </tr>
  <% end %>
</tbody>
</table>

