<div class="tabs"> 
  <ul> 
    <li><a href="/jobs" id="tab-Jobs" onclick="showTab('Jobs'); this.blur(); return false;">Job Postings</a></li>
    <li><a href="/job_applications" id="tab-JobApplications" onclick="showTab('JobApplications'); this.blur(); return false;">My Job Applications</a></li>
    <li><a href="/application_materials" id="tab-ApplicationMaterials" onclick="showTab('ApplicationMaterials'); this.blur(); return false;">My Application Materials</a></li>
    <li><a href="/referrers" id="tab-Referrers" onclick="showTab('Referrers'); this.blur(); return false;">My Referrers</a></li>
    <li style="float:left;margin-left:500px;"><a href="/apptrackers" id="tab-Apptrackers" onclick="showTab('Apptrackers'); this.blur(); return false;">Return to Apptracker List</a></li>   
  </ul> 
  <div class="tabs-buttons" style="display:none;"> 
    <button class="tab-left" onclick="moveTabLeft(this);"></button> 
    <button class="tab-right" onclick="moveTabRight(this);"></button> 
  </div> 
</div>
