<table class="list" style="width:90%">
<thead>
  <tr>
    <% if(User.current.admin?)%>
      <!-- Admin Role -->

    <% elsif (User.current.logged?)%>
      <!-- Applicant Role -->

    <% else %>
      <!-- Anonymous Role -->

    <% end %> 
  </tr>
</thead>
<tbody>
  <% @referrers.each do |referrer| %>
    <tr>
      <% if(User.current.admin?)%>
        <!-- Admin Role -->

      <% elsif (User.current.logged?)%>
        <!-- Applicant Role -->

      <% else %>
        <!-- Anonymous Role -->

      <% end %> 
    </tr>
  <% end %>
</tbody>
</table>

